[client]
host = 127.0.0.1
database = studroom_db
user = phpmyadmin
password = pAPKt2DCPqmQ
default-character-set = utf8mb4va

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "studroom_db",  # le nom de ta base créée dans phpMyAdmin
        "USER": "root",
        "PASSWORD": "77Elis@47",  # le mot de passe que tu as défini tout à l’heure
        "HOST": "localhost",
        "PORT": "3306",
    }
}
